@import "variables";

.graph {
  margin: 20px 0;
}

svg {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke-width: 3px;
  }

  .datapoint {
    fill: $darkgrey;
    stroke-width: 3px;

    &:hover {
      fill: #fff;
      cursor: pointer;
      transition: all .2s ease-in-out;
    }
  }

  .twitter {
    .line,
    .datapoint {
      stroke: $twitter;
    }
  }

  .facebook {
    .line,
    .datapoint {
      stroke: $facebook;
    }
  }
}
