@import "variables";

.graph {
  margin: 20px 0;
}

svg {
  .axis,
  text {
    fill: #fff;
    font-family: sans-serif;
    font-size: 9px;
    text-transform: uppercase;
  }

  .axis {
    path,
    line {
      fill: none;
      stroke: #fff;
      shape-rendering: crispEdges;
    }
  }

  .line {
    fill: none;
    stroke-width: 3px;
  }

  .datapoint {
    fill: $darkgrey;
    stroke-width: 3px;

    &:hover {
      fill: #fff;
      cursor: pointer;
      transition: all .2s ease-in-out;
    }
  }

  // Sources
  .twitter {
    .line,
    .datapoint {
      stroke: $twitter;
    }
  }

  .facebook {
    .line,
    .datapoint {
      stroke: $facebook;
    }
  }

  .website {
    .line,
    .datapoint {
      stroke: $yellow;
    }
  }

  // Metrics
  .advocacy {
    rect {
      fill: $belize;
    }
  }

  .action {
    rect {
      fill: $emerald;
    }
  }

  .awareness {
    rect {
      fill: $carrot;
    }
  }

  .appreciation {
    rect {
      fill: $sunflower;
    }
  }
}
