@import "variables";

.graph {
  margin: 20px 0;
}

svg {
  .axis,
  text {
    fill: #fff;
    font-family: sans-serif;
    font-size: 9px;
    text-transform: uppercase;
  }

  .axis {
    path,
    line {
      fill: none;
      stroke: #fff;
      shape-rendering: crispEdges;
    }
  }

  .line {
    fill: none;
    stroke-width: 3px;
  }

  .datapoint {
    fill: $darkgrey;
    stroke-width: 3px;

    &:hover {
      fill: #fff;
      cursor: pointer;
      transition: all .2s ease-in-out;
    }
  }

  rect {
    &:hover {
      fill: #fff !important;
      cursor: pointer;
      transition: all .2s ease-in-out;
    }
  }

  // Sources
  .twitter {
    .line,
    .datapoint {
      stroke: $twitter;
    }
  }

  .facebook {
    .line,
    .datapoint {
      stroke: $facebook;
    }
  }

  .website {
    .line,
    .datapoint {
      stroke: $website;
    }
  }

  // Metrics
  .advocacy {
    fill: $belize;

    rect {
      fill: $belize;
    }
  }

  .action {
    fill: $emerald;

    rect {
      fill: $emerald;
    }
  }

  .awareness {
    fill: $carrot;

    rect {
      fill: $carrot;
    }
  }

  .appreciation {
    fill: $sunflower;

    rect {
      fill: $sunflower;
    }
  }

  .horizontalGrid {
    stroke: rgba(255, 255, 255, 0.2);
    opacity: 0.7;
    shape-rendering: crispEdges;
  }
}

.toggle-datapoints {
//  position: absolute;
//  top: 60px;
//  left: 60px;
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.5;
  margin-top: 8px;

  i {
    font-size: 14px;
  }

  &:hover {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
  }
}

.label-header {
  font-family: $osb;
  font-size: 14px;
  text-transform: uppercase;
}

.muted {
  opacity: 0.3;
}

#graph-donut {
  path {
    &:hover {
      fill: #fff !important;
      cursor: pointer;
      transition: all .2s ease-in-out;
    }
  }
}
