@import "variables";

header {
  width: 100%;
  text-align: center;
  margin: 50px 0;
  position: relative;

  .menu-activator {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}