// COLORS
$yellow: #f9cd47;
$blue: #3c8edc;
$darwin: #1022C6;
$darkgrey: #252525;
$belize: #2980b9;
$emerald: #2ecc71;
$carrot: #e67e22;
$sunflower: #f1c40f;
$ember: #e74c3c;

$twitter: #00acee;
$facebook: #475b8e;
$website: $ember;

// FONTS
$osr: 'open_sansregular';
$osb: 'open_sansbold';