<div class="row">
  <div class="large-12 columns">
    <h1>Stats for Foobar Analytics</h1>

    <div ng-controller="ParametersCtrl" class="row">
      <h2>Start date</h2>
      <div class="well well-small pull-left" ng-model="params.startDate">
        <datepicker min="minDate" max="maxDate" show-weeks="showWeeks"></datepicker>
      </div>

      <h2>End date</h2>
      <div class="well well-small pull-left" ng-model="params.endDate">
        <datepicker min="minDate" max="maxDate" show-weeks="showWeeks"></datepicker>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <div ng-controller="MultibarCtrl" class="graph" id="graph-multibar"></div>
  </div>
  <div class="large-4 columns">
    <div ng-controller="DonutCtrl" class="graph" id="graph-donut"></div>
  </div>
</div>

<div ng-controller="ParametersCtrl" class="row">
  <div class="large-4 columns">
    <h2>Parameters</h2>

    <h3>Metrics</h3>
    <div ng-repeat="metric in params.availableMetrics">
      <input type="checkbox" ng-click="toggleMetric(metric)" ng-checked="isSelectedMetric(metric)"/>{{ metric }}
    </div>
  </div>

  <div class="large-4 columns">
    <h3>Network</h3>
    <select name="selectedNetwork" id="selectedNetwork" ng-options="network for network in params.availableNetworks"
            ng-model="params.metricComparison.selectedNetwork"></select>
  </div>

</div>

<div ng-controller="TimelineCtrl" class="row">
  <div class="large-12 columns">
    <div class="graph" id="graph-timeline"></div>
  </div>
</div>
